@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow: auto; /* Allow scrolling */
  -ms-overflow-style: none;  /* Hide scrollbar in IE & Edge */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

select option {
  color: white !important;
  background-color: black !important;
}

select:focus {
  color: white !important;
  background-color: black !important;
}
.custom-select option {
  background-color: black !important;  /* Default background */
  color: white !important;
}

.custom-select option:checked {
  background-color: #4b5563 !important; /* gray-600 */
  color: white !important;
}


@layer utilities {
  .custom-select {
    @apply bg-black text-white;
  }

  .custom-select option {
    @apply bg-black text-white;
  }

  .custom-select option:checked {
    background-color: black !important; /* gray-600 */
    color: white !important;
  }
}


@layer utilities {
  .clip-path-triangle {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  }

  .clip-path-shift {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
  }
}

@layer utilities {
  .clip-custom {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
  }
}